* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:'Poppins', sans-serif;
    background:#0f172a;
    color:white;
}

/* MODE CLAIR */
body:not(.dark) {
    background:#f8fafc;
    color:#111;
}

body:not(.dark) section {
    background:white;
}

/* NAVBAR */
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo span {
    font-weight:bold;
}

/* MENU */
.nav-links {
    display:flex;
    gap:20px;
    list-style:none;
}

.nav-links a {
    padding:8px 16px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.2);
    text-decoration:none;
    color:inherit;
    transition:0.3s;
}

.nav-links a:hover {
    background:#22c55e;
    color:black;
    transform:translateY(-3px);
}

/* DARK BUTTON */
#darkModeBtn {
    width:38px;
    height:38px;
    border-radius:50%;
    border:none;
    background:#1e293b;
    color:white;
    cursor:pointer;
}

/* HERO */
.hero {
    text-align:center;
    padding:100px 20px;
}

.profile-pic {
    width:180px;
    height:180px;
    border-radius:50%;
    border:4px solid #22c55e;
    box-shadow:0 0 40px rgba(34,197,94,0.6);
}

.hero h1 {
    font-size:45px;
    color:#22c55e;
}

.hero p {
    margin:20px 0 30px;
}

/* BUTTONS */
.btn-primary {
    background:#22c55e;
    padding:12px 25px;
    border-radius:25px;
    color:black;
    margin:10px;
    text-decoration:none;
}

.btn-secondary {
    border:2px solid #22c55e;
    padding:12px 25px;
    border-radius:25px;
    color:#22c55e;
    margin:10px;
    text-decoration:none;
}

/* SECTIONS */
section {
    max-width:900px;
    margin:50px auto;
    padding:40px;
    border-radius:20px;
}

/* SKILLS */
.skills-grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    justify-items:center;
}

.skill:nth-child(4) {
    grid-column:2;
}

.skill {
    padding:20px;
    border-radius:15px;
    background:#334155;
}

/* SERVICES */
.services-grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    justify-items:center;
}

.service-card:nth-child(4) {
    grid-column:2;
}

.service-card {
    padding:20px;
    border-radius:15px;
    background:#334155;
    text-align:center;
    transition:0.3s;
}

.service-card:hover {
    transform:translateY(-10px);
}

/* FORM */
input, textarea {
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    border:1px solid #ccc;
}

button {
    width:100%;
    padding:12px;
    background:#22c55e;
    border:none;
    border-radius:20px;
}

/* ANIMATION */
.reveal {
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.reveal.active {
    opacity:1;
    transform:translateY(0);
}

/* FOOTER */
footer {
    text-align:center;
    padding:20px;
}

/* DARK */
.dark {
    background:#0f172a;
    color:white;
}

.dark section {
    background:#1e293b;
}